{% extends "base.html" %}

{% block content %}
<h1> Ask me any question </h1>

<head>
    <meta charset="UTF-8">
    <title>Ask me any question</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

    <p> To talk, please press the start button</p>
    <p>
        <button id="startRecording">Start</button>
        <button id="stopRecording" disabled>Stop</button>
    </p>
    <script>
        navigator
            .mediaDevices
            .getUserMedia({ audio: true })
            .then(stream => { handlerFunction(stream) });

        function handlerFunction(stream) {
            rec = new MediaRecorder(stream);
            rec.ondataavailable = e => {
                audioChunks.push(e.data);
                if (rec.state == "inactive") {
                    let blob = new Blob(audioChunks, { type: 'audio/mpeg-3' });
                    sendData(blob);
                }
            }
        }

        function sendData(data) {
            var form = new FormData();
            form.append('file', data, 'data.mp3');
            form.append('title', 'data.mp3');
            //Chrome inspector shows that the post data includes a file and a title.
            $.ajax({
                type: 'POST',
                url: '/voice-assistant',
                data: form,
                cache: false,
                processData: false,
                contentType: false
            }).done(function (data) {
                console.log(data);
                document.getElementById("myText").innerHTML = data;

            });
        }

        startRecording.onclick = e => {
            console.log('Recording are started..');
            startRecording.disabled = true;
            stopRecording.disabled = false;
            audioChunks = [];
            rec.start();
        };

        stopRecording.onclick = e => {
            console.log("Recording are stopped.");
            startRecording.disabled = false;
            stopRecording.disabled = true;
            rec.stop();
        };
    </script>
</body>

<p>Answer: <span id="myText"></span></h1> </p>


{% endblock %}

<!-- {{url_for('static', filename='script.js')}} -->