{% extends "base.html" %}

{% block app_content %}
    <h1> Some recommendations for you </h1>
    <body>
        <h3> An event you might remember </h3>
            <h3 id="text">{{ event_text }}: </h3>
            <p id="text">{{ event_description }}: </p>

            <img src="{{ event_img1 }}" alt="Event1">
            <img src="{{ event_img2 }}" alt="Event2">

        <h3> You might like this artist: {{ artist_name }} </h3>
        <p>{{ artist_description }}</p>
            <iframe width="420" height="315"
            src="{{ song_url2 }}">
            </iframe>

        <h3> Or how about this song: {{ song_name }} </h3>

        <iframe width="420" height="315"
        src="{{ song_url1 }}">
        </iframe>
        
        <h3> You might also like this movie: {{ movie_name }} </h3>
        <p>{{ movie_description }}</p>

        <iframe width="420" height="315"
        src="{{ movie_url }}">
        </iframe>
    </body>
{% endblock %}
